.registerContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
}
.cardRegister {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 28rem;
    width: 45rem;
}

.spacer {
    height: 1rem;
}

.messageSubmit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message {
    color: red;
    height: 5rem;
    width: 25rem;
    font-style: italic;
    font-size: 14px;
}