.homeContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.spaceHeader{
    height: 4em;
}

.mainPhoto{
    width: 100%;
    height: 20em;  
}

.homePhoto{
    width: 100%;
    height: 100%;
}

/* .textPhoto{
    background-color: #41bbec3a;
    position: absolute;
    width: 10em;
    height: 8em;
    margin-top: 5em;
    margin-left: 3em;
    border-radius: 0.8em;
    font-size: larger;
} */


.mainDescription{
    margin-top: 1em;
    align-self: center;
}