.homeContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.spaceHeader{
    height: 4em;
}

.mainPhoto{
    width: 20em;
    height: 20em; 
}

.homePhoto{
    height: 100%;
}

.mainDescription{
    margin-top: 1em;
    align-self: center;
}

.navbarContainer{
    display: flex;
    flex-direction: row;
}

.infoContainer{
    margin-left: 4em;
}

/* img {
    overflow: hidden;
    width: 100%;
    height: 100%;
} */

.designDiv{
    height: 1em;
}