.headerComponent{
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    align-items: center; 
    height: 4em;
    width: 100%; 
    box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    background-color: white;
}

.designDiv{
    width: 35em; 
} 

.headerLogo{
    height: 5em;
    width: 5em;

}

.headerLogoImg{
    height: 100%;
    width: 100%; 
}